@mixin flex($flexDirection, $justifyContent, $alignItem) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItem;
}

@mixin position($position, $top, $right, $bottom, $left){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin mediaQueryWidth($width){
    @media (max-width: $width) {
        @content;
    }
}