@import "../../../sass/mixin/mixins";

.alert{
    box-shadow: 0px 0px 8px #919191;
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
    height: 100px;
    @include flex(row, center, center);
    h2{
        margin: 0;
    }
}
.table_container{
    width: 90%;
    overflow-x: auto;
    margin-top: 30px;
    @include flex(column, center, center);
    .table{
        min-width: 100%;
        th{
            font-size: 1.2rem;
            background: #0D6EFD;
            color: #ffffff;
            font-weight: 600;
            border: none;
            text-align: center;
            padding: 8px;
            &:nth-child(1){
                border-top-left-radius: 10px;
            }
            &:nth-child(5){
                border-top-right-radius: 10px;
            }
        }
        td{
            text-align: center;
            padding: 8px;
        }
        tr{
            resize: horizontal;
            overflow: auto;
            .edit_section{
                text-align: center;
                padding: 8px;
            }
            &:nth-of-type(2n){
                background: #c9d8ff;
            }
        }
    }
}
@media (max-width: 650px) {
    .table_container{
        .table{
            th{
                display: none;
            }
            td{
                display: block;
            }
            td:before{
                content: attr(data-cell) " ";
                font-weight: 600;
            }
            tr{
                &:nth-of-type(2n-1){
                    background: #cccccc;
                }
                &:nth-of-type(2n){
                    background: #8b8b8b;
                }
            }
        }
    }
}