@import "../../sass/mixin/mixins";
.container{
    width: 100%;
    height: fit-content;
    padding: 15px;
    box-shadow: 8px 0px 8px #919191;
    @include flex(row-reverse, space-between, center);
    .searchbar_menu{
        width: 70%;
        @include flex(row, flex-end, center);
        .searchbar{
            width: 100%;
            position: relative;
            @include flex(row, flex-end, center);
            input{
                width: 50%;
                height: 40px;
                border: solid 2px #cecece;
                padding: 0 30px 0 10px;
                border-radius: 7px;
                box-sizing: border-box;
                direction: rtl;
                font-size: 1.1rem;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: #acacac;
                }
                @media (max-width: 800px) {
                    width: 70%;
                }
            }
        }
    }
    .language{
        width: 30%;
        @include flex(row, flex-start, center);
        .theme{
            @include flex(row, center, center);
        }
    }
}