@import "./sass//mixin/mixins";
@font-face {
    font-family: fonts;
    src: url(./assets/font/Yekan.ttf),
    url(./assets/font/Yekan.woff),
    url(./assets/font/Yekan.eot);
}
*{
    padding: 0;
    margin: 0;
    font-family: fonts;
    .App{
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;
        @include flex(column, center, center);
    }
}